<header ng-include="'partials/nav.html'"></header>

<!--<div ng-repeat="item in survey">
	<div>
		<div>{{ item.QuestionList[0]}}</div>
		
		<!--<div> {{ item.QuestionList.AnswerList.AnswerText }}</div>		
	</div>
</div>-->
<body>
	<div class="container">
		<div class="row">  What is your age?
			<form id="optionsRadiosAge">
				<div class="radio col-sm-6 col-md-4" ng-repeat="age in ages"> 
					<label class="thumbnail">
						 <input type="radio" name="optionsRadios" value="{{age.AgeId}}" checked>
							{{age.Display}}
					</label>  
				</div>
			</form>
		</div>
		
		<div class="row"> What is your gender identity?
			<form id="optionsRadiosSex">
				<div class="radio col-sm-6 col-md-4" ng-repeat="sex in sexes">
					<label class="thumbnail">
						 <input type="radio" name="optionsRadios" value=" {{sex.SexId}}" checked>
							{{sex.Display}}
					</label>
				</div>
			</form>  
		</div>



		<div class="row" ng-repeat="question in questions">
			<div class="col-sm-12">{{ question.QuestionId }} {{ question.QuestionText}}
				<div>
					<form id="radioAnswer{{question.QuestionId}}">
    					<div ng-repeat="answer in question.AnswerList">
            				<div class="radio col-sm-6 col-md-4">
			 					<label class="thumbnail">
			  						<input type="radio" name="radioAnswers"  value="{{ answer.AnswerId }}" checked>
			   							{{ answer.AnswerId}} {{answer.AnswerText}} 
			 					</label>
							</div>              
     					</div>
     				</form>
     			</div>
    		</div>
		</div>
		<button type="button" ng-click="saveAnswers()" class="btn btn-warning btn-lg">Submit</button>
	</div>
	
</body>




